name: run tests

on:
  push:
    branches:
      - main
      - master
  pull_request:
    branches:
      - main
      - master
      - staging
      - dev**
      - feature**

jobs:
  tests:
    name: test and collect coverage
    runs-on: ubuntu-latest
    steps:
      - name: checkout code
        uses: actions/checkout@v5
      - name: setup node
        uses: actions/setup-node@v6
        with:
          node-version-file: '.nvmrc'
      - name: install node dependencies
        run: npm ci
      - name: run tests
        id: test
        run: |
          npm run test -- --coverage
